<div class="min-width-md">
    <h2 class="md-title">
        {{ ::'dialogs.title.new' | translate}}
        <span class="lowercase">
            {{ ::resourceConfig.translationBase + '.name.one' | translate}}
        </span>
    </h2>

    <div layout="column">
        <md-input-container flex class="md-block" form-input form="form" translation-base="resourceConfig.translationBase"
            name="description" model="object.description" autocomplete="false" empty="false" permission="true" required="true"></md-input-container>

        <form-autocomplete flex class="md-block" form="form" object="object.recruiter" name="recruiter"
            translation-base="resourceConfig.translationBase" selected-item="object.recruiter" item-name-property="descripton"
            controller="AutocompleteRecruitersCtrl" permission="true" required="true" no-float="true">
        </form-autocomplete>

        <md-input-container flex class="md-block" form-input form="form" translation-base="resourceConfig.translationBase"
            name="comment" model="object.comment" autocomplete="false" empty="false" permission="true" required="true"></md-input-container>

        <md-input-container flex class="md-block" form-input form="form" translation-base="resourceConfig.translationBase"
            name="quality" model="object.quality" autocomplete="false" empty="false" permission="true" required="true"></md-input-container>

        <md-input-container flex class="md-block" form-input form="form" translation-base="resourceConfig.translationBase"
            name="learn" model="object.learn" autocomplete="false" empty="false" permission="true" required="true"></md-input-container>
    </div>
</div>